ion-card{
  position:relative;
  width: 30vw;
  background-color: #1e1e1e;
  
}

.avatar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 50px;
}
.subtitle{color: #5e66f5;
font-size: 150%;
}

.heart{
  position:absolute;
  right: 20px;
  top:25px;
}
.Can{
  position: absolute;
  top:80px;
  right:20px;
}
